body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
