.mobile-burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .mobile-burger-btn {
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .header .mobile-burger-btn {
    display: none;
  }
}
.mobile-burger-icon {
}
